policy_module(keepassxc, 1.0.0)

########################################
#
# Declarations
#
#permissive keepassxc_t;

## <desc>
## <p>
## Allow keepass to read and write to USB devices
## </p>
## </desc>
gen_tunable(keepassxc_can_access_usb_devices, false)

gen_require(`
	type cert_t;
	type unconfined_t;
	type xdm_t;
	role unconfined_r;
')

attribute_role keepassxc_roles;
roleattribute unconfined_r keepassxc_roles;

type keepassxc_t;
type keepassxc_exec_t;
userdom_user_application_domain(keepassxc_t, keepassxc_exec_t)
role keepassxc_roles types keepassxc_t;

type keepassxc_cache_home_t;
userdom_user_home_content(keepassxc_cache_home_t)

type keepassxc_db_t;
fs_associate(keepassxc_db_t)

type keepassxc_etc_t;
files_config_file(keepassxc_etc_t)

type keepassxc_home_t;
userdom_user_home_content(keepassxc_home_t)

type keepassxc_tmp_t;
fs_associate_tmpfs(keepassxc_tmp_t)


########################################
#
# keepassxc local policy
#

allow keepassxc_t self:process { setrlimit setsched };
allow keepassxc_t self:unix_stream_socket { connectto create_stream_socket_perms };
allow keepassxc_t self:netlink_kobject_uevent_socket { create_socket_perms };

dontaudit keepassxc_t cert_t:dir search;

allow keepassxc_t keepassxc_tmp_t:sock_file manage_sock_file_perms;
dontaudit unconfined_t keepassxc_tmp_t:file read_file_perms;
dontaudit unconfined_t keepassxc_tmp_t:sock_file read_sock_file_perms;

allow keepassxc_t unconfined_t:dbus send_msg;
allow unconfined_t keepassxc_t:dbus send_msg;

allow keepassxc_t xdm_t:unix_stream_socket { read write };

manage_files_pattern(keepassxc_t, keepassxc_cache_home_t, keepassxc_cache_home_t)
gnome_cache_filetrans(keepassxc_t, keepassxc_cache_home_t, { dir file })

manage_dirs_pattern(unconfined_t, keepassxc_db_t, keepassxc_db_t)
manage_files_pattern(unconfined_t, keepassxc_db_t, keepassxc_db_t)
keepassxc_relabel_db_file(unconfined_t)

manage_dirs_pattern(keepassxc_t, keepassxc_db_t, keepassxc_db_t)
manage_files_pattern(keepassxc_t, keepassxc_db_t, keepassxc_db_t)
userdom_user_home_dir_filetrans(keepassxc_t, keepassxc_db_t, { dir file })

manage_dirs_pattern(keepassxc_t, keepassxc_etc_t, keepassxc_etc_t)
manage_files_pattern(keepassxc_t, keepassxc_etc_t, keepassxc_etc_t)
files_usr_filetrans(keepassxc_t, keepassxc_etc_t, { dir file })

manage_dirs_pattern(keepassxc_t, keepassxc_home_t, keepassxc_home_t)
manage_files_pattern(keepassxc_t, keepassxc_home_t, keepassxc_home_t)
gnome_config_filetrans(keepassxc_t, keepassxc_home_t, { dir file })

manage_dirs_pattern(keepassxc_t, keepassxc_tmp_t, keepassxc_tmp_t)
manage_files_pattern(keepassxc_t, keepassxc_tmp_t, keepassxc_tmp_t)
files_tmp_filetrans(keepassxc_t, keepassxc_tmp_t, { file dir })

kernel_getattr_proc_files(keepassxc_t)
kernel_list_proc(keepassxc_t)

# Needed to exec ibus-daemon
corecmd_exec_bin(keepassxc_t)

dev_list_sysfs(keepassxc_t)
dev_read_sysfs(keepassxc_t)
dev_read_rand(keepassxc_t)

dbus_session_bus_client(keepassxc_t)
dbus_system_bus_client(keepassxc_t)

files_dontaudit_list_non_security(keepassxc_t)

fs_getattr_tmpfs(keepassxc_t)
fs_getattr_xattr_fs(keepassxc_t)

init_search_pid_dirs(keepassxc_t)
init_dbus_chat(keepassxc_t)

logging_send_syslog_msg(keepassxc_t)

udev_read_pid_files(keepassxc_t)
udev_search_pids(keepassxc_t)

unconfined_stream_connect(keepassxc_t)
# Revise and probably put it in an interface
unconfined_signull(keepassxc_t)

userdom_home_manager(keepassxc_t)
userdom_manage_tmp_dirs(keepassxc_t)
userdom_manage_user_home_content_dirs(keepassxc_t)
userdom_manage_user_home_content_files(keepassxc_t)
userdom_use_inherited_user_ptys(keepassxc_t)
userdom_use_inherited_user_ttys(keepassxc_t)

userdom_dontaudit_exec_user_home_content_files(keepassxc_t)
userdom_dontaudit_read_all_user_home_content_files(keepassxc_t)

# Added dontaudit rule instead since legacy cert options are never going to be used
#miscfiles_read_generic_certs(keepassxc_t)

tunable_policy(`keepassxc_can_access_usb_devices',`
	dev_associate_usbfs(keepassxc_db_t)
	fs_manage_dos_files(keepassxc_t)
	# After plugging in security key for challenge-response feature
	dev_rw_generic_usb_dev(keepassxc_t)
')

optional_policy(`
	systemd_dbus_chat_hostnamed(keepassxc_t)
')

optional_policy(`
	gnome_manage_data(keepassxc_t)
	gnome_manage_gconf_home_files(keepassxc_t)
	gnome_manage_generic_cache_files(keepassxc_t)
	gnome_manage_home_config(keepassxc_t)
	gnome_read_generic_data_home_dirs(keepassxc_t)
	gnome_read_generic_data_home_files(keepassxc_t)
')

optional_policy(`
	dev_rw_xserver_misc(keepassxc_t)
	xserver_stream_connect(keepassxc_t)
	xserver_stream_connect_xdm(keepassxc_t)
	xserver_manage_home_fonts(keepassxc_t)
')

optional_policy(`
	# Intel IBM X61 Integrated graphics support?
	dev_rw_dri(keepassxc_t)
')

# Unconventional transition for unconfined. Temporary for testing
optional_policy(`
        gen_require(`
                type unconfined_t;
                role unconfined_r;
        ')

        keepassxc_role(unconfined_r, unconfined_t)
')
