policy_module(keepassxc, 1.1.0)

########################################
#
# Declarations
#
#permissive keepassxc_t;

## <desc>
## <p>
## Allow keepass to read and write to USB devices
## </p>
## </desc>
gen_tunable(keepassxc_can_access_usb_devices, false)

## <desc>
##      <p>
##      Allow keepassxc to manage user content
##      </p>
## </desc>
gen_tunable(keepassxc_manage_user_content, false)

gen_require(`
	type cert_t;
	type unconfined_t;
	role unconfined_r;
')

attribute_role keepassxc_roles;
roleattribute unconfined_r keepassxc_roles;

type keepassxc_t;
type keepassxc_exec_t;
userdom_user_application_domain(keepassxc_t, keepassxc_exec_t)
role keepassxc_roles types keepassxc_t;

type keepassxc_cache_home_t;
userdom_user_home_content(keepassxc_cache_home_t)

type keepassxc_db_t;
userdom_user_home_content(keepassxc_db_t)

type keepassxc_etc_t;
files_config_file(keepassxc_etc_t)

type keepassxc_home_t;
userdom_user_home_content(keepassxc_home_t)

type keepassxc_tmp_t;
userdom_user_tmp_file(keepassxc_tmp_t)

type keepassxc_tmpfs_t;
userdom_user_tmp_file(keepassxc_tmpfs_t)

########################################
#
# keepassxc local policy
#

allow keepassxc_t self:process { setrlimit setsched };
allow keepassxc_t self:netlink_kobject_uevent_socket { create_socket_perms };

dontaudit keepassxc_t cert_t:dir search;

# Unsure if writing should be allowed. Found in F27 Gnome
allow keepassxc_t iceauth_home_t:file write;

allow keepassxc_t unconfined_t:dbus send_msg;
allow unconfined_t keepassxc_t:dbus send_msg;

manage_dirs_pattern(keepassxc_t, keepassxc_cache_home_t, keepassxc_cache_home_t)
manage_files_pattern(keepassxc_t, keepassxc_cache_home_t, keepassxc_cache_home_t)
gnome_cache_filetrans(keepassxc_t, keepassxc_cache_home_t, { dir file })

manage_dirs_pattern(keepassxc_t, keepassxc_db_t, keepassxc_db_t)
manage_files_pattern(keepassxc_t, keepassxc_db_t, keepassxc_db_t)
userdom_user_home_dir_filetrans(keepassxc_t, keepassxc_db_t, { dir file })

manage_dirs_pattern(keepassxc_t, keepassxc_etc_t, keepassxc_etc_t)
manage_files_pattern(keepassxc_t, keepassxc_etc_t, keepassxc_etc_t)
mmap_files_pattern(keepassxc_t, keepassxc_etc_t, keepassxc_etc_t)
files_usr_filetrans(keepassxc_t, keepassxc_etc_t, { dir file })

manage_dirs_pattern(keepassxc_t, keepassxc_home_t, keepassxc_home_t)
manage_files_pattern(keepassxc_t, keepassxc_home_t, keepassxc_home_t)
mmap_files_pattern(keepassxc_t, keepassxc_home_t, keepassxc_home_t)
gnome_config_filetrans(keepassxc_t, keepassxc_home_t, { dir file })

manage_dirs_pattern(keepassxc_t, keepassxc_tmp_t, keepassxc_tmp_t)
manage_files_pattern(keepassxc_t, keepassxc_tmp_t, keepassxc_tmp_t)
manage_sock_files_pattern(keepassxc_t, keepassxc_tmp_t, keepassxc_tmp_t)
files_tmp_filetrans(keepassxc_t, keepassxc_tmp_t, { dir file sock_file })

manage_files_pattern(keepassxc_t, keepassxc_tmpfs_t, keepassxc_tmpfs_t)
manage_lnk_files_pattern(keepassxc_t, keepassxc_tmpfs_t, keepassxc_tmpfs_t)
manage_fifo_files_pattern(keepassxc_t, keepassxc_tmpfs_t, keepassxc_tmpfs_t)
manage_sock_files_pattern(keepassxc_t, keepassxc_tmpfs_t, keepassxc_tmpfs_t)
fs_tmpfs_filetrans(keepassxc_t, keepassxc_tmpfs_t, { file lnk_file fifo_file sock_file })

# Requesting cpuinfo
kernel_dontaudit_read_system_state(keepassxc_t)

# Needed to exec ibus-daemon
corecmd_exec_bin(keepassxc_t)

dbus_session_bus_client(keepassxc_t)
dbus_system_bus_client(keepassxc_t)

dev_read_sysfs(keepassxc_t)
dev_read_rand(keepassxc_t)
dev_read_urand(keepassxc_t)

fs_getattr_xattr_fs(keepassxc_t)

logging_send_syslog_msg(keepassxc_t)

unconfined_stream_connect(keepassxc_t)

userdom_manage_tmp_dirs(keepassxc_t)
userdom_use_inherited_user_ttys(keepassxc_t)

# Added dontaudit rule instead since legacy cert options are never going to be used
#miscfiles_read_generic_certs(keepassxc_t)

auth_read_passwd(keepassxc_t)

# X11 application handling
xserver_user_x_domain_template(keepassxc, keepassxc_t, keepassxc_tmpfs_t)


optional_policy(`
	dbus_read_lib_files(keepassxc_t)
	init_dbus_chat(keepassxc_t)
	systemd_dbus_chat_hostnamed(keepassxc_t)
')

optional_policy(`
	dev_rw_xserver_misc(keepassxc_t)
')

optional_policy(`
	# IBM X61 Intel integrated graphics support?
	dev_rw_dri(keepassxc_t)
')

optional_policy(`
	gnome_manage_config(keepassxc_t)
')

optional_policy(`
	udev_read_db(keepassxc_t)
')

tunable_policy(`keepassxc_can_access_usb_devices',`
	dev_associate_usbfs(keepassxc_db_t)
	fs_manage_dos_files(keepassxc_t)
	# After plugging in security key for challenge-response feature
	dev_rw_generic_usb_dev(keepassxc_t)
')

tunable_policy(`keepassxc_manage_user_content',`
        userdom_manage_user_home_content_dirs(keepassxc_t)
        userdom_manage_user_home_content_files(keepassxc_t)
',`
	files_dontaudit_list_home(keepassxc_t)
	userdom_dontaudit_exec_user_home_content_files(keepassxc_t)
        userdom_dontaudit_manage_user_home_content_dirs(keepassxc_t)
        userdom_dontaudit_read_all_user_home_content_files(keepassxc_t)
        userdom_dontaudit_write_user_home_content_files(keepassxc_t)
')

# Unconventional transition for unconfined. Remove if desired
optional_policy(`
        gen_require(`
                type unconfined_t;
		type staff_t;
                role unconfined_r;
		role staff_r;
        ')

        keepassxc_role(unconfined_r, unconfined_t)
	keepassxc_role(staff_r, staff_t)
')
